*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$mainGray: #ececec;
$mainWhite: #ffffff;
$mainGreen: #82b340;
$mainBlack: #222222;

body{
  background: $mainWhite;
  color: $mainBlack;
  font-family: 'Akaya Telivigala', cursive;
}